
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.jumbotron{
    padding-top: 6rem;
 
  background-color: rgb(179, 213, 236);
}
#project{
    background-color:  rgb(179, 213, 236);
}


strong{
    color: rgb(27, 62, 62);
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p{
    color: rgb(3, 55, 79);
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;

}

section{
    padding-top: 7rem;
}
